@import '../../globals';
//@import '../../variables';


.active {
  &:after {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: .3 * $unit;
    content: '';
    background-color: $color-accent;
  }
}

//.App {
//  &--Content {
//    margin-top: $appbar-height;
//    margin-left: $sidebar-min-width;
//    padding: 1.5rem 2rem;
//  }
//
//}
//.foo {
//  color: red;
//}



