// FIXME naming direct node_modules path.
// an issue with css-loaders, https://github.com/react-toolbox/react-toolbox/issues/1069
//@import "~react-toolbox/<file here>" does not work;

@import "../../node_modules/react-toolbox/lib/colors";
@import "../../node_modules/react-toolbox/lib/globals";

//$color-primary-contrast
$wl-appbar-height: 6.4 * $unit;
$wl-appbar-logo-size: 3.6 * $unit;
$wl-appbar-shadow: 0 1px rgba(255,255,255,.65);
$wl-appbar-navigation-offset: 6.5 * $unit;

//-- Indexes
$wl-z-index-highest: 300 !default;
$wl-z-index-higher: 200 !default;
$wl-z-index-high: 100 !default;
$wl-z-index-normal: 1 !default;
$wl-z-index-low: -100 !default;
$wl-z-index-lower: -200 !default;

// -- Fonts
$wl-preferred-font: "Roboto", "Helvetica", "Arial", sans-serif !default;