@import '../variables';

.App {
  .App--Content {
    margin-top: $appbar-height * 1.5;
  }
}

.AppBar {
  height: $appbar-height;

  // Take up width in menu in place of absolute item groups
  .AppBar--Spacer__Logo {
    width: 160px
  }
  .AppBar--Spacer__Accounts {
    width: 150px;
  }

  .AppBar--ItemGroup__Logo {
    &.header.item {
      position: absolute;
      left: 0;
    }
  }
  .AppBar--ItemGroup__Accounts {
    position: absolute;
    right: 0;
  }
}

.SideBar {
  &.ui.vertical.menu {
    margin-top: $appbar-height;
  }
}