// COLORS
$accent-color: black;

// ELEMENTS
$appbar-height: 45px;
$sidebar-min-width: 15rem;

/* http://css-tricks.com/snippets/css/clear-fix */
.clearfix-group {
  content: "";
  display: table;
  clear: both;
}