.Wishlist {

  .Heading {
    .Heading--Title {
      &.header {
        margin-bottom: 0.3em;
      }
    }
    .Heading--Action {
      &.ui.button {
        margin-top: 3px;
      }
    }
  }

  .ui.card .extra.content {
    padding: 0.2em !important;
  }

  .WishlistItem {
    margin: 20px 0;
  }

  .ImageBlock {
    position: relative;
    width: 200px;
  }
  .ImageBlock--Overlay {
    position: absolute;
    top: 25%;
    left: 0;
    width: 100%;
  }

  .ImageBlock--OverlayText {
    color: white;
    font-size: 20px;
    background: mix(black, white, 50%); // fallback for non rgba support
    background: rgba(black, 0.7);
    padding: 10px;
  }

  .WishlistItem--Title {
    text-transform: uppercase;
  }

  .LinkBarItem {
    margin-right: 10px;
    font-size: 110%;
  }

}